@import url("https://fonts.googleapis.com/css2?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #151925;
}

header {
  z-index: 1;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #151925;
  padding: 15px;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  a {
    margin-right: 20px;
  }
}
header nav a:hover {
  color: aqua;
  cursor: pointer;
  transition: 0.5s;
}
.container-home {
  display: grid;
  background-color: #151925;
  grid-template-columns: repeat(2, 1fr);
  height: 640px;
}
.home button {
  width: 38%;
  height: 30px;
  border-radius: 15px;
  border: 0px;
  background-color: aqua;
  margin-top: 30px;
  box-shadow: 3px 0px 3px 4px aqua;
  font-size: 14px;
  font-weight: bolder;
  transition: 0.4s ease-out;
}

.home button:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in;
  box-shadow: 3px 0px 3px 3px aqua;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bolder;
}
.home {
  margin-top: 140px;
  margin-left: 120px;
  h3 {
    font-size: 25px;
  }
}
.home-text {
  color: white;
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 42px;
  }
  p {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 23px;
  }
}
span {
  color: aqua;
}
span:hover {
  cursor: pointer;
}
div .social-icons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.social-icons img {
  width: 25px;
  height: 25px;
  transition: 0.5s ease-out;
}

.social-icons img:hover {
  transform: scale(1.4);
  transition: 0.7s ease-in;
  border: 1px solid aqua;
  border-radius: 200%;
}

.home-img {
  border-radius: 50%;
  margin-top: 130px;
  margin-left: 160px;
  transition: 0.5s ease-out;
}
.home-img:hover {
  transform: scale(1.03);
  transition: 0.5s ease-in;
}

nav a {
  font-size: 21px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.container-about {
  display: grid;
  background-color: #323648;
  grid-template-columns: repeat(2, 1fr);
  height: 640px;
}
.about-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 130px;
  margin-left: 150px;
  transition: 0.5s ease-out;
}
.about-img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in;
}
.btn-about {
  width: 25%;
  height: 28px;
  border-radius: 15px;
  border: 0px;
  background-color: aqua;
  margin-top: 20px;
  box-shadow: 3px 0px 3px 4px aqua;
  font-size: 15px;
  font-weight: bolder;
  transition: 0.5s ease-out;
}

.btn-about:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 3px 0px 3px 3px aqua;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 16px;
}
.about-text {
  color: white;
  margin-top: 180px;
  margin-left: 60px;
  margin-right: 40px;
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  p {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 23px;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
}

.service-card {
  display: grid;
  background-color: #151925;
  grid-template-columns: repeat(3, 1fr);
  height: 570px;
}
.services-head {
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  background-color: #151925;
  h1 {
    margin-top: 40px;
  }
}
.box5,
.box6,
.box7 {
  padding: 40px;
  transition: 0.5s ease-out;
}
/* .box6{
  padding: 40px;
  transition: 0.5s ease-out; 
}
.box7 {
  padding: 40px;
  transition: 0.5s ease-out; 
} */

.ui:hover {
  transform: scale(1.06);
  transition: 0.5s ease-in;
  box-shadow: 0px 2px 2px 4px aqua;
}
.box5 .ui button {
  margin-top: 60px;
}
.ui {
  color: white;
  background-color: #323648;
  width: 95%;
  height: 450px;
  border-radius: 50px;
  transition: 0.5s ease-in;

  img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45%;
  }
  h3 {
    font-weight: 1000;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }
  p {
    font-size: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
    text-align: center;
  }
  button {
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 15px;
    background-color: aqua;
    margin-left: 120px;
    box-shadow: 2px 0px 3px 5px aqua;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 40px;
    transition: 0.4s ease-out;
  }
}

.ui button:hover {
  transform: scale(0.9);
  transition: 0.5s;
  box-shadow: 3px 0px 3px 3px aqua;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 12px;
}

.project-card {
  display: grid;
  background-color: #323648;
  grid-template-columns: repeat(3, 1fr);
  height: 570px;
  img {
    border-radius: 15%;
    transition: 0.5s ease-out;
    margin-left: 35px;
    margin-top: 20px;
  }
  p {
    color: white;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 10px;
    text-align: justify;
    font-weight: 100;
  }
  button {
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 15px;
    background-color: aqua;
    margin-left: 120px;
    box-shadow: 2px 0px 3px 5px aqua;
    font-size: 13px;
    font-weight: bolder;
    margin-top: 20px;
    transition: 0.4s ease-out;
  }
  button:hover {
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 3px 0px 3px 3px aqua;
    cursor: pointer;
    font-weight: bolder;
  }
  h3 {
    color: white;
    text-align: center;
    font-weight: bold;
  }
}

.projects-head {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #323648;
  h1 {
    margin-top: 50px;
  }
}
.pro1 {
  background-color: #151925;
  height: 450px;
  border-radius: 50px;
  transition: 0.5s ease-out;
}
.pro2 {
  background-color: #151925;
  height: 450px;
  border-radius: 50px;
  transition: 0.5s ease-out;
}
.pro3 {
  background-color: #151925;
  height: 450px;
  border-radius: 50px;
  transition: 0.5s ease-out;
}

.pro1:hover {
  transform: scale(1.06);
  transition: 0.5s ease-in;
  box-shadow: 0px 2px 2px 4px aqua;
}
.pro2:hover {
  transform: scale(1.06);
  transition: 0.5s ease-in;
  box-shadow: 0px 2px 2px 4px aqua;
}
.pro3:hover {
  transform: scale(1.06);
  transition: 0.5s ease-in;
  box-shadow: 0px 2px 2px 4px aqua;
}

.box8,
.box9,
.box10 {
  padding: 50px;
  padding-top: 30px;
}
.container-contact {
  background-color: #151925;
  height: 590px;
}
.contact-head {
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  background-color: #151925;
}
input {
  margin: 7.2px;
  border: 0px;
  border-radius: 10px;
  background-color: #323648;
  width: 47%;
  height: 30px;
  resize: none;
  font-size: 15px;
  color: white;
 
}
input:hover,textarea:hover{
   border: 1px solid aqua;
}
input[type="email"],
[type="text"] {
  
  padding: 10px;
}
textarea {
  margin: 5px;
  border-radius: 10px;
  border: 0px;
  background-color: #323648;
  width: 97%;
  height: 280px;
  padding: 10px;
  resize: none;
  font-size: 15px;
  color: white;
}

textarea[id="message"] {
  padding: 10px;
}
form {
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
.btncontact {
  width: 90px;
  height: 30px;
  margin-left: 67%;
  margin-top: 15px;
  border: 0px;
  border-radius: 15px;
  background-color: aqua;
  box-shadow: 2px 0px 3px 5px aqua;
  font-size: 13px;
  font-weight: bold;
  transition: 0.4s ease-out;
}
.btncontact:hover {
  transform: scale(0.9);
  transition: 0.5s;
  box-shadow: 3px 0px 3px 3px aqua;
  cursor: pointer;
  font-weight: bolder;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #323648;
  height: 190px;
  padding: 20px 50px;
  flex-direction: column;
}
.footer .social-icons,
.footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.footer .social-icons li,
.footer .menu li {
  list-style: none;
}

.footer .social-icons li img {
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer .social-icons li img:hover {
  border: 0px solid aqua;
  transform: translateY(-10px);
}

.footer .menu li a {
  font-size: 1.6em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.5s;
}

.footer .menu li a:hover {
  opacity: 3;
  color: aqua;
}
.footer p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.5em;
  opacity: 0.75;
}

@media screen and (min-width: 576px) {
}
